section.brighte-finance {
    padding: 4rem 0;

    @media screen and (max-width:576px) {
        padding: 1.25rem 0;
    }

    .left-section {
        padding: 4.875rem 4rem;
        position: relative;
        overflow: hidden;
        z-index: 9;

        @media screen and (max-width:576px) {
            padding: 2.75rem 1.375rem;
        }

        .title {
            font-size: 3.25rem;
            margin-bottom: 1.375rem;

            @media screen and (max-width:576px) {
                font-size: 2.5rem;
            }
        }

        .subtitle {
            font-size: 1.125rem;
            margin-bottom: 2.625rem;

            @media screen and (max-width:576px) {
                font-size: 0.938rem;
                margin-bottom: 1.55rem;
            }

            br {
                @media screen and (max-width:1199px) {
                    display: none;
                }
            }
        }

        .button {
            margin-top: 2.625rem;

            a.btn {
                font-size: 1.25rem;
                font-weight: 500;

                @media screen and (max-width:576px) {
                    font-size: 0.75rem;
                }
            }
        }

        .brighte-cards {
            position: absolute;
            right: -8%;
            bottom: 0;
            z-index: -1;

            @media screen and (max-width:576px) {
                position: relative;
                left: -8%;
            }

            img {
                @media screen and (max-width:576px) {
                    width: 51vh;
                    margin-bottom: -8rem;
                }
            }
        }
    }

    .right-section {
        padding: 4.875rem 1.875rem;
        position: relative;
        overflow: hidden;
        z-index: 9;

        @media screen and (max-width:768px) {
            margin-top: 1.25rem;
        }

        @media screen and (max-width:576px) {
            padding: 2.75rem 4rem 2.75rem 1.375rem;
        }

        .title {
            font-size: 3.25rem;
            margin-bottom: 1.375rem;

            @media screen and (max-width:576px) {
                font-size: 2.25rem;
            }

            span {
                font-weight: 800;
            }
        }

        .subtitle {
            font-size: 1.125rem;

            @media screen and (max-width:576px) {
                font-size: 0.81rem;
            }
        }

        .button {
            margin-top: 2.625rem;

            @media screen and (max-width:576px) {
                margin-top: 1.25rem;
            }

            a.btn {
                font-size: 1rem;
                font-weight: 500;

                @media screen and (max-width:576px) {
                    font-size: 0.75rem;
                }
            }
        }
    }
}

section.brighte-features {
    padding-bottom: 8rem;

    @media screen and (max-width:576px) {
        padding-bottom: 1.25rem;
    }

    .item {
        font-size: 1.25rem;

        @media screen and (max-width:768px) {
            margin-top: 1.5rem;
        }

        @media screen and (max-width:576px) {
            font-size: 1rem;
        }

        img {
            margin-bottom: 1.75rem;
        }
    }
}

section.brighte-content {
    padding: 8.125rem 0;

    @media screen and (max-width:576px) {
        padding: 4rem 0;
    }

    .title {
        font-size: 3.75rem;

        @media screen and (max-width:576px) {
            font-size: 2.14rem;
        }
    }

    .subtitle {
        font-size: 2.188rem;
        margin-top: 2.5rem;

        @media screen and (max-width:576px) {
            font-size: 1.25rem;
            margin-top: 1.5rem;
        }

        br {
            @media screen and (max-width:768px) {
                display: none;
            }
        }
    }

    .button {
        margin-top: 6.875rem;


        @media screen and (max-width:576px) {
            margin-top: 3rem;
        }

        a.btn {
            font-size: 1.25rem;
            font-weight: 500;
            padding: 1.875rem 6rem;

            @media screen and (max-width:576px) {
                padding: 1.875rem;
            }
        }
    }
}

section.faqs {
    padding: 5.5rem 0;

    @media screen and (max-width:576px) {
        padding: 2.875rem 0 1rem 0;
    }

    .title {
        font-size: 4rem;
        margin-bottom: 3.75rem;

        @media screen and (max-width:576px) {
            font-size: 2.5rem;
            margin-bottom: 2.5rem;
        }
    }

    .accordion {
        .card {
            &:nth-child(odd) {

                .card-header {
                    background: $white;
                }
            }

            .card-header {
                position: relative;
                cursor: pointer;

                &::after {
                    position: absolute;
                    content: "";
                    right: 2%;
                    top: 40%;
                    border-bottom: 2px solid $primary;
                    border-right: 2px solid $primary;
                    display: inline-block;
                    height: 12px;
                    width: 12px;
                    transform: rotate(45deg);

                    @media screen and (max-width:576px) {
                        display: none;
                    }
                }

                .number {
                    font-size: 2.25rem;

                    @media screen and (max-width:576px) {
                        font-size: 1.25rem;
                    }
                }

                .heading {
                    font-size: 2.063rem;

                    @media screen and (max-width:576px) {
                        font-size: 1.173rem;
                    }
                }

            }

            .active {
                &::after {
                    top: 50%;
                    transform: rotate(225deg);
                }
            }

            .card-body {
                p {
                    font-size: 1.15rem;

                    @media screen and (max-width:576px) {
                        font-size: 0.95rem;
                    }
                }
            }
        }
    }
}