.contact-section {
    padding: 5.5rem 0;

    @media screen and (max-width:576px) {
        padding: 1.5rem 0;
    }

    .contact-information {
        .detail {
            .heading {
                font-size: 2.25rem;
            }

            a,
            p {
                color: $white;
                font-size: 1.25rem;
                transition: 0.5s all ease;

                &:hover {
                    filter: contrast(0.1)
                }
            }
        }
    }

    .enquiry-form {
        margin-top: 3.125rem;

        .title {
            font-size: 4rem;
            margin-bottom: 2.5rem;

            @media screen and (max-width:576px) {
                font-size: 2.5rem;
            }
        }

        .form-group {
            margin-bottom: 1.875rem;

            label {
                font-size: 1.25rem;
                font-weight: 500;
            }

            textarea {
                height: 18rem !important;
            }
        }

        .btn {
            font-size: 1.25rem;
            display: block;
            width: 100%;
            border-radius: 0;
            padding: 1.625rem;
            font-weight: bold;
        }

        .enquiry-bg {
            position: relative;

            .box {
                position: absolute;
                width: 80%;
                z-index: 9;
                bottom: 6%;
                left: 50%;
                transform: translate(-50%, -6%);

                &::after {
                    position: absolute;
                    content: "";
                    left: 0;
                    top: 0;
                    background: $white;
                    clip-path: polygon(0 0, 100% 0, 75% 100%, 0 100%);
                    width: 125px;
                    height: 100%;
                    z-index: -1;

                    @media (min-width:769px) and (max-width:1399px) {
                        width: 105px;
                    }

                    @media screen and (max-width:576px) {
                        width: 70px;
                    }
                }

                .text1 {
                    font-size: 1.414rem;

                    @media (min-width:769px) and (max-width:1599px) {
                        font-size: 1.2rem;
                    }

                    @media screen and (max-width:576px) {
                        font-size: 0.95rem;
                    }
                }

                .text2 {
                    font-size: 1.099rem;

                    @media (min-width:769px) and (max-width:1599px) {
                        font-size: 0.875rem;
                    }

                    @media screen and (max-width:576px) {
                        font-size: 0.85rem;
                    }
                }
            }
        }
    }
}