.service-content1 {
    .left-content {
        padding-right: 4.5rem;

        @media screen and (max-width:1199px) {
            padding-right: 0;
            padding-top: 2.5rem;
        }

        .title {
            font-size: 5rem;
            margin-bottom: 2.375rem;

            @media screen and (max-width:1199px) {
                font-size: 3.25rem;
                margin-bottom: 1.375rem;
            }

            span {
                background: $secondary;
                padding: 0 0.5rem;
            }
        }

        .description {
            p {
                font-size: 1.08rem;

                @media screen and (max-width:1199px) {
                    font-size: 0.938rem;
                }
            }

            ul {
                margin-left: 1.5rem;

                li {
                    list-style-type: disc;
                }
            }
        }

        a.btn {
            font-size: 1.125rem;
            font-weight: 500;
        }
    }
}

.service-content2 {
    padding: 5.375rem 0;

    @media screen and (max-width:768px) {
        padding: 3rem 0;
    }

    .title {
        font-size: 4rem;
        margin-bottom: 2.375rem;

        @media screen and (max-width:768px) {
            font-size: 3rem;
            margin-bottom: 1.375rem;
        }

        span {
            background: $primary;
            color: $white;
            padding: 0 0.5rem;
        }
    }

    .description {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 0 4rem;

        @media screen and (max-width:768px) {
            grid-template-columns: auto;
        }

        p {
            font-size: 1rem;
        }

        ul {
            margin-left: 1.5rem;

            li {
                list-style-type: disc;
            }
        }
    }

    .title2 {
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    .description2,
    .description2 p {
        font-size: 1.125rem;

        ul {
            margin-left: 1.5rem;

            li {
                list-style-type: disc;
            }
        }
    }
}