.membership-form {
    background: linear-gradient(180deg, #2A2A2C 0%, #212225 100%);
    padding-bottom: 10rem;

    @media screen and (max-width:576px) {
        padding-bottom: 2.75rem;
    }

    .contain {
        margin-top: -22rem;
        padding: 3.438rem 0;

        @media screen and (max-width:576px) {
            padding: 1rem 0;
        }

        .content {
            padding: 0 3.438rem;

            @media screen and (max-width:576px) {
                padding: 0 1rem;
            }

            .title {
                font-size: 3rem;
                margin-bottom: 1.25rem;

                @media screen and (max-width:576px) {
                    font-size: 2rem;
                }
            }

            .subtitle {
                font-size: 1.125rem;
            }

        }

        .section {
            padding: 3.438rem;

            @media screen and (max-width:576px) {
                padding: 1rem;
            }

            .title {
                font-size: 2.25rem;
                margin-bottom: 0.875rem;

                @media screen and (max-width:576px) {
                    font-size: 1.35rem;
                    margin-bottom: 0;
                }
            }

            .form-group {
                position: relative;
                margin-top: 1.375rem;
                margin-bottom: 0;

                img {
                    position: absolute;
                    left: 20px;
                    top: 60%;
                }

                label {
                    font-weight: bold;
                    margin-bottom: 0.875rem;
                }

                .form-control {
                    height: 64px;
                    background: transparent;
                    font-size: 1rem;
                    color: #C4C4C4;
                    padding: 0 3rem;
                    margin-bottom: 0;

                    &::placeholder {
                        color: #C4C4C4;
                    }
                }
            }
        }

        .section3 {
            .form-control {
                padding: 0 1rem !important;
            }
        }

        .button {
            padding: 0 3.438rem;

            @media screen and (max-width:576px) {
                padding: 0 1rem;
            }

            .btn {
                padding: 1.5rem;
                font-weight: 900;
                border-radius: 0;
                display: block;
                width: 100%;

                @media screen and (max-width:576px) {
                    margin-top: 1rem;
                }
            }
        }
    }
}