* {
    padding: 0;
    margin: 0;
    list-style: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    font-family: $font-body;
    color: $tertiary;
    font-weight: 400;
    margin: 0 auto;
    background-color: $white;
    font-size: 1rem;
    overflow-x: hidden;
    line-height: 1.25;
}

p {
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: 1.15rem;
    line-height: 1.75;
}

img {
    max-width: 100%;
}

// Rounded buttons
@for $i from 1 through 10 {
    .rounded-#{$i} {
        border-radius: #{$i}px;
    }
}

.text-italic {
    font-style: italic;
}

//line-height
.line-height-1 {
    line-height: 1;
}

.line-height-2 {
    line-height: 2;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

.container {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    line-height: 1;
    font-weight: 400;
}

.object-fit-cover {
    object-fit: cover;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: $white;
}

::-webkit-scrollbar-thumb {
    background: $secondary;
}

.form-control {
    font-size: 1rem;
    display: inline-block;
    border-radius: 0;
    border-color: #bbbbbb;
    background-color: $white;
    height: 60px;
    padding: 0 1.5rem;

    &:focus {
        outline: none;
        box-shadow: none;
        border-color: $black;
    }
}

textarea.form-control {
    height: 9.125rem !important;
    padding-top: 1.25rem;
}

//Go To Top
#return-to-top {
    position: fixed;
    bottom: 95px;
    right: 13px;
    z-index: 9;
    background: $primary;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top img {
    margin: 0;
    position: relative;
    left: 13px;
    top: 10px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}

#return-to-top:hover img {
    top: 4px;
}
